<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Required for MyDGN API -->
    <uses-permission
        android:name="android.permission.INTERNET" />


    <application

        android:name=".MyDGNApp"

        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"

        android:label="MyDGN Bot"

        android:supportsRtl="true"

        android:theme="@style/Theme.MyDGNBot">


        <activity

            android:name=".MainActivity"

            android:exported="true">


            <intent-filter>


                <action
                    android:name="android.intent.action.MAIN" />


                <category
                    android:name="android.intent.category.LAUNCHER" />


            </intent-filter>


        </activity>


    </application>


</manifest>
